<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>themeType</key>
		<integer>1</integer>
		<key>themeName</key>
		<string>喜庆红</string>
		<key>themeValue</key>
		<dict>
			<key>Bubble_Receive</key>
			<dict>
				<key>receiveBubbleBorderColor</key>
				<string>#CFCFCF</string>
				<key>receiveBubbleColor</key>
				<string>#FFFFFF</string>
			</dict>
			<key>Bubble_Sender</key>
			<dict>
				<key>senderBubbleBorderColor</key>
				<string>#AFD5E6</string>
				<key>senderBubbleColor</key>
				<string>#CEEDFF</string>
			</dict>
			<key>ButtonColor</key>
			<dict>
				<key>buttonDisableColor</key>
				<string>#CCCCCC</string>
				<key>buttonHighlightedColor</key>
				<string>#007EBA</string>
				<key>buttonNormalColor</key>
				<string>#009EE5</string>
			</dict>
			<key>Nav_Color</key>
			<dict>
				<key>navBackgroundColor</key>
				<string>#009EE5</string>
				<key>navBarItemDisableColor</key>
				<string>#4DBBEC</string>
				<key>navBarItemHighlightedColor</key>
				<string>#B3E2F7</string>
				<key>navBarItemNormalColor</key>
				<string>#FFFFFF</string>
				<key>navTitleColor</key>
				<string>#FFFFFF</string>
			</dict>
			<key>StatusBarStyle</key>
			<dict>
				<key>statusBarStyle</key>
				<string>1</string>
			</dict>
			<key>SwitchColor</key>
			<dict>
				<key>switchDisableOffColor</key>
				<string>#CCCCCC</string>
				<key>switchDisableOnColor</key>
				<string>#99D8F5</string>
				<key>switchOffColor</key>
				<string>#FFFFFF</string>
				<key>switchOnColor</key>
				<string>#009EE5</string>
			</dict>
			<key>Theme</key>
			<dict>
				<key>themeDisableColor</key>
				<string>#CCCCCC</string>
				<key>themeHighlightedColor</key>
				<string>#007EBA</string>
				<key>themeNormalColor</key>
				<string>#009EE5</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
